@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Orbitron:wght@400..900&display=swap');
@import "tailwindcss";

html, body {
  background-color: black;
  color: white;
  overflow-x: hidden;
}

@theme{
   --font-orbitorn: "Orbitron", sans-serif;
}